<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minifed CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- Optional Theme -->
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="container">
            <div class="tesify">
                Serving up HTML
            </div>
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.mim.js"></script>
    </body>
</html>